
# Ignore everything
*

# Allow .gitignore itself
!.gitignore

# Allow specific directories and files
!PythonVisitorMethods/
!PythonVisitorMethods/**
!tools/
!tools/**

!docOsiris.html
!pre-defined-funcs.js
!toDO
!README.md
!package.json 
!webpack.config.mjs 
!webpack.configcjs.mjs 
!package-lock.json
!index.js
!dist/
!dist/**

!cjs/
!cjs/**


!Python/
!Python/**

!transpilerPythonJs.js
!builtInFuncs.js
