
# Ignore everything
*

# Allow .gitignore itself
!.gitignore

# Allow specific directories and files
!PythonVisitorMethods/
!PythonVisitorMethods/**

!dist/
!dist/**

!Python/
!Python/**

!transpilerPythonJs.js

