
# Ignore everything
*

# Allow .gitignore itself
!.gitignore

# Allow specific directories and files
!PythonVisitorMethods/
!PythonVisitorMethods/**
!tools/
!tools/**

!docOsiris.html

!package.json 
!webpack.config.mjs 
!package-lock.json
!index.js
!dist/
!dist/**

!Python/
!Python/**

!transpilerPythonJs.js

